* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

.container {
    width: 1200px; 
    margin: 0 auto; 
}

.title, .desc, .subtitle {
    text-align: center;
    margin-top: 30px;
}

.nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #fff;
    font-size: 25px; 
    font-weight: bold; 
    text-decoration: none; 
    padding: 7px; 
    background-color: green;
    border-radius: 5px; 
    display: block;
    border: 1px solid transparent;
}

.nav-link:hover {
    border: 1px solid rgb(199, 82, 178);
    color:  rgb(199, 82, 178);
    background-color: #fff;
}

.item {
    width: 300px;
    font-family: 'Caveat', cursive;
}

.item-pic {
    width: 100%; 
    border-radius: 10px;
}

.content {
    margin-top: 30px; 
}

.subtitle {
    font-family: 'Caveat', cursive;
    font-size:40px;
}

.item-box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    margin-bottom: 50px;
}

.item-link {
    padding: 5px;
    display:block;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin-top: 30px;
    font-size:40px;
}
.text {
    font-family: 'Caveat', cursive;
    font-size:40px;
    
}